* {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
}

form {
  position: absolute;
  padding: 10px;
}
form legend {
  margin-bottom: 10px;
  color: rgb(139, 116, 245);
  font-size: 1.5rem;
  font-weight: 700;
}
form textarea {
  padding: 10px 15px;
  border: 1px solid #f2f1f1;
  resize: none;
}
form textarea::placeholder {
  color: #b3b3b3;
}
form .counter {
  position: relative;
  bottom: 15px;
  right: 7%;
  color: #929292;
}
form .counter .count {
  color: #929292;
}