@import "common";

form{
    position: absolute;
    padding: 10px;
    legend{
        margin-bottom: 10px;
        color: rgb(139, 116, 245);
        font-size: 1.5rem;
        font-weight: 700;
    }

    textarea{
        padding: 10px 15px;
        border: 1px solid #f2f1f1;
        resize: none;
        &::placeholder{
            color: #b3b3b3;
        }
    }

    .counter{
        position: relative;
        bottom: 15px;
        right: 7%;
        color: #929292;
        .count{
            color: #929292;
        }
    }
}